<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>US Quiz (Express)</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body class="text-center">

<h1 class="jumbotron"> US Geography Quiz <br> Express Version </h1>

<h3><span id="markImg1"></span> What is the capital of California?</h3>
<input type="text" id="q1" name="q1" value="">
<br><br>
<div id="q1Feedback"></div>
<br>

<h3><span id="markImg2"></span>What is the longest river?</h3>
<select id="q2" name="q2">
    <option value="">Select One</option>
    <option value="ms">Mississippi</option>
    <option selected value="mo">Missouri</option>
    <option value="co">Colorado</option>
    <option value="de">Delaware</option>
</select>
<br><br>
<div id="q2Feedback"></div>
<br>

<h3><span id="markImg3"></span>What presidents are carved into mount Rushmore?</h3>
<input type="checkbox" value="ja" name="q3" id="Jackson"> <label for="Jackson"> A. Jackson </label>
<input type="checkbox" value="fr" name="q3" id="Franklin"> <label for="Franklin">B. Franklin </label>
<input type="checkbox" value="je" name="q3" id="Jefferson"> <label for="Jefferson">T. Jefferson</label>
<input type="checkbox" value="ro" name="q3" id="Roosevelt"> <label for="Roosevelt">T. Roosevelt</label>
<br><br>
<div id="q3Feedback"></div>
<br>

<h3><span id="markImg4"></span>What is the smallest US state?</h3>
<div id="q4Choices"></div>
<br><br>
<div id="q4Feedback"></div>
<br>

<h3><span id="markImg5"></span>Which is the correct seal of California?</h3>
<img src="/img/seal1.png" alt="seal1" class="q5choice" id="seal1">
<img src="/img/seal2.png" alt="seal2" class="q5choice" id="seal2">
<img src="/img/seal3.png" alt="seal3" class="q5choice" id="seal3">

<br><br>
<div id="q5Feedback"></div>
<br>

<button id="submitBtn" class="btn btn-outline-success"> Submit Quiz</button>
<br><br>

<h2 id="totalScore" class="text-info">Total score:</h2>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<script>
    $(document).ready(function () {

        displayQ4Choices();
        //functions
        function displayQ4Choices() {
            let q4ChoicesArray = ["Maine", "Rhode Island", "Maryland", "Delaware"];
            q4ChoicesArray = _.shuffle(q4ChoicesArray);
            for (let i = 0; i < q4ChoicesArray.length; i++) {
                $("#q4Choices").append(`<input type="radio" name="q4" id="${q4ChoicesArray[i]}" value="${q4ChoicesArray[i]}"> <label for="${q4ChoicesArray[i]}">${q4ChoicesArray[i]}</label>`);
            }
        }//displayQ4Choices

        //Event Listeners
        $(".q5choice").on("click", function () {
            $(".q5choice").css("background-color", ""); //resets background color
            $(this).css("background-color", "rgb(255, 255, 0)");
        })


        $("#submitBtn").on("click", function () {
            let q1Response = $("#q1").val();
            let q2Response = $("#q2").val();
            let q3Response = !$("#Franklin").is(":checked") && !$("#Jackson").is(":checked") && $("#Jefferson").is(":checked") && $("#Roosevelt").is(":checked");
            let q4Response = $("input[name=q4]:checked").val();
            alert(q3Response);
            $.ajax({
                method: "GET",
                url: "/gradeQuiz",
                dataType: "json",
                data: {"q1": q1Response,
                        "q2": q2Response,
                        "q3": q3Response,
                        "q4": q4Response
                },
                success: function (result, status) {
                   // alert(result);
                    $("#totalScore").html("Total score: " + result.score);
                    $("#q1Feedback").html(result.feedback1);
                    $("#q2Feedback").html(result.feedback2);
                    $("#q3Feedback").html(result.feedback3);
                    $("#q4Feedback").html(result.feedback4);



                }
            });//ajax
        });
    });//ready
</script>

</body>
</html>

